@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #4e47ff;
  --dark1: #252432;
  --dark2: #25243280;
  --dark3: #00000080;
  --bluebg: #4e47ff1a;
  --mainbg: #f5f8ff;
  --borderbg: #f2eded;
  --footcolor: #8987a1;
  --cardbg: #ffffff80;
  --cardthd:#1E1E1E;
  --reviewertt:#757575;
  --reviewerft:#B3B3B3;
  --Raleway: "Raleway", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
}

/* Common Styles */

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.btn-primary {
  background-color: var(--blue);
  color: white;
  padding: 12px 36px;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--Raleway);
  border-radius: 10px;
  border: none;
}

section {
  margin-top: 130px;
  margin-bottom: 130px;
  border: 2px solid red;
}

/* Header */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: white;
}

.nav-title {
  color: var(--blue);
  font-size: 34px;
  font-weight: 900;
}

.hero {
  text-align: center;
}

.hero-title {
  color: var(--dark1);
  font-size: 65px;
  font-weight: 700;
  font-family: var(--Raleway);
  max-width: 905px;
  margin: 0 auto;
  margin-bottom: 37px;
}

header {
  background-image: url("/Assets/Hero-bg.png");
}

main {
  background-color: var(--mainbg);
}

/* preview section */

.preview-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview-text {
  width: 517px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 23px;
  flex-shrink: 0;
  font-family: var(--Raleway);
  border: 2px solid green;
}

.preview-title {
  font-size: 42px;
  font-weight: 700;
  color: var(--dark1);
}

.preview-description {
  color: var(--dark2);
  font-size: 24px;
  font-weight: 400;
}

.preview-text button {
  max-width: max-content;
}

.preview-sec img {
  border-radius: 48px;
}

/* Metrics section  */
.metrics {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: var(--bluebg);
  padding: 50px 80px;
  border-radius: 24px;
}

.metrics-title {
  font-size: 38px;
  font-family: var(--Raleway);
  font-weight: 700;
}

.metrics-items {
  display: flex;
  align-items: center;
  gap: 158px;
}

.metrics-item h2 {
  color: var(--blue);
  font-size: 80px;
  font-weight: 700;
}

.metrics-item h4 {
  text-align: center;
  color: var(--dark3);
  font-weight: 400;
  font-size: 20px;
}

/* Rating section */
.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.rating-title {
  text-align: center;
  color: var(--dark1);
  font-family: var(--Raleway);
  font-size: 42px;
  font-weight: 700;
}

.card-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card {
  min-width: 240px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 14px;
  background-color: var(--cardbg);
  border: 1px solid var(--borderbg);
  gap: 24px;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.card-title {
  font-size: 24px;
  font-weight: 600;
  color:var(--cardthd);
}

.card-des {
  color: var(--cardthd);
  font-size: 16px;
  font-weight: 400;
}

.user {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.reviewer-name {
  color: var(--reviewertt);
  font-size: 16px;
  font-weight: 600;
}

.review h5 {
  color: var(--reviewerft);
  font-size: 16px;
  font-weight: 400;
}

/* studio section */

.studio {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  padding: 71px 150px;
  gap: 20px;
  border-radius: 14px;
}

.studio-title {
  color: #000;
  font-size: 50px;
  font-weight: 700;
  font-family: var(--Raleway);
}

.studio-des {
  color: var(--dark3);
  font-size: 16px;
  font-weight: 400;
}

.studio img {
  border-radius: 48px;
}

