@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #4e47ff;
  --dark1: #252432;
  --dark2: #25243280;
  --dark3: #00000080;
  --bluebg: #4e47ff1a;
  --footcolor: #8987a1;
  --Raleway: "Raleway", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
}

/* Common Styles */

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.btn-primary {
  background-color: var(--blue);
  color: white;
  padding: 12px 36px;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--Raleway);
  border-radius: 10px;
  border: none;
}

section {
  margin-top: 130px;
  margin-bottom: 130px;
  border: 2px solid red;
}

/* Header */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: white;
}

.nav-title {
  color: var(--blue);
  font-size: 34px;
  font-weight: 900;
}

.hero {
  text-align: center;
}

.hero-title {
  color: var(--dark1);
  font-size: 65px;
  font-weight: 700;
  font-family: var(--Raleway);
  max-width: 905px;
  margin: 0 auto;
  margin-bottom: 37px;
}

header {
  background-image: url("/Assets/Hero-bg.png");
}

/* preview section */

.preview-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview-text {
  width: 517px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 23px;
  flex-shrink: 0;
  font-family: var(--Raleway);
  border: 2px solid green;
}

.preview-title {
  font-size: 42px;
  font-weight: 700;
  color: var(--dark1);
}

.preview-description {
  color: var(--dark2);
  font-size: 24px;
  font-weight: 400;
}

.preview-text button {
  max-width: max-content;
}

.preview-sec img {
  border-radius: 48px;
}

/* Metrics section */